<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gundam</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Gundam France</h1>
        <nav>
          <!--navbar mobile-->
          <ul>
            <li class="déroulant">
              <a class="menu" href="">Menu</a>
              <ul class="sous">
                <li><a href="#">La Saga Gundam</a></li>
                <li>
                  <a href="../html/series/index-series.html">Les séries</a>
                </li>
                <li><a href="#">Encyclopédie</a></li>
                <li><a href="#">Jeux Vidéo</a></li>
                <li><a href="#">A Propos</a></li>
              </ul>
            </li>

            <!-- test pour la suite 
                    <li class="déroulant"><a href="">Menu<a>
                        <ul class="sous">
                            <li><a href="#">Gundam France</a></li>
                            <li><a href="#">La Saga Gundam</a></li>
                            <li><a href="#">Encyclopédie</a></li>
                            <li><a href="#">Jeux Vidéo</a></li>
                            <li><a href="#">A Propos</a></li>
                        </ul>-->
          </ul>
        </nav>
      </header>
    </div>

