<%- include('partials/header.ejs') %>

<main class="container">
    <h1><%= serie.title %></h1>
    <div class="presentation">
    <img src="/content/img/series/<%= serie.img %>" alt="" class="index--image">
    </div>
    <br>
    <p><%- serie.text.replace(/\n/g, '<br>') %></p>

</main>


</body>
</html>