body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;

}


/* header */

.header--div {
  position: relative;
  z-index: 1;
  height: 60px;
}

.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  min-width: 330px;
  z-index: 3;
  top:0;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 10px;
  text-decoration: none;
  border: 2px solid goldenrod;
  align-items: center;
  border-radius: 5px;
  color: black;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;

  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;

  padding: 30px 20px;
  position: relative;
  user-select: none;
  float: right
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

  

/* gestion de l'image de présentation */

.presentation {
    text-align: center;
}
.index--image {
    margin-top: 10px;
    max-width: 80%;
    border-radius: 5px;
    border: 1px solid goldenrod;
}

/* main */

main p {
    color:rgb(213, 213, 213) ;
    text-align: justify;
    margin: 0px 10px 10px 10px;
}



/* page des séries */

.serie--list {
  padding: 5px;
}

.serie {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.series {
    max-width: 100%;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

.series img {
    max-width: 100%;
    min-height: 100px;
    border-radius: 10px;
    border: 2px solid goldenrod;
}

.series--title p {
  color: black;
  margin: 0 0 20px 0;
}

.series--content {
  display: flex;
}

.series--fiche {
 margin-top: auto;
  height: 40px;
  width: 200px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: goldenrod;
}

.series--fiche:hover {
  background-color: black;
  color: white;
}

.series--fiche a {
  margin:auto;
}


/* bouton retour */

.retour__arriere {
    display: flex;
    position: absolute;
    align-items: center;
    font-weight: bold;
    font-size: 1.0rem;
    padding: 15px;
    background-color: goldenrod;
    border-radius: 20px;
    right: 0;
    max-width: 45%;
    max-height: 40px;
}
.retour__arriere:hover {
    background-color: black;
    color:rgb(213, 213, 213) ;
}


.serie h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: goldenrod;
    border-radius: 20px;
    font-weight: bold;
    height: 100px;
    border: 2px solid black;
}

.serie h3 a:before {
	content:'';
	position:absolute;
	left: 51%;
	right: 15px;
	top:15px;
	bottom:0;
	background-color:rgba(0,0,0,0);
}
.serie h3:hover {
    background-color: black;
    color:rgb(213, 213, 213)  ;
}


/* RESPONSIVE*/

  
  @media (min-width: 768px) {
      .header li {
        float: left;
        font-size: large;
      }
      .header li a {
        padding: 30px 30px;
      }
      .header .menu {
        clear: none;
        float: right;
        max-height: none;
      }

      .header .menu-icon {
        display: none;
      }

    .series {
      max-width: 45%;
      min-width: 45%;
      justify-content: space-between;
  }
    .serie {
      justify-content: space-around;
      max-width: 90%;
    }
  }
  

  @media (min-width: 900px) {

    .header li {
      float: left;
      font-size: large;
    }
    .header li a {
      padding: 30px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }

    .header .menu-icon {
      display: none;
    }
  .index--image {
      max-width: 40%;
  }
  .series {
    max-width: 30%;
    min-width: 30%;
    justify-content: space-between;
}
  .serie {
    justify-content: space-around;
    max-width: 90%;
  }
}
